

h1 {
    font-size: 60px;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    font-family: sans-serif;
    color: rgb(184, 182, 177);
    font-style: normal;
}

header {
    margin: 0 auto;
}

body {
    
    margin: 0 auto;
    background-color: rgb(54, 45, 129);
}

#table {
    margin-top: 3em;
    border-radius: 20px;
    font-size: 20px;
    box-shadow: 20px 20px 20px 20px rgb(33, 15, 110);
    width: 65%;
    margin: 0 auto;
    background-color: rgb(157, 148, 240);
}

#table tr td{
    text-align: center;
    color: rgb(36, 7, 75);
    
}
div.reload {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 1.0em;
}

div.reload input[type="button"] {
    
    flex-direction: column;
    width: 20%;
    height: 40px;
    text-align: center;
    border: 1px solid transparent;
    font-size: 12px;
    margin: 0em 1em 2em 39%;
    color: white;
    text-transform: uppercase;
    background-color: rgb(36, 21, 102);
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 5px;
   cursor: pointer;
}

div.reload input[type="button"]:hover {
    color: rgb(207, 34, 207);
    background-color: white;
}
* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

td:hover {
    background-color: aqua;
    cursor: pointer;

}

.ganhou {
    font-size: 64px;
    width: 320px;
    text-align: center;
}

@media(min-width: 800px) {
    #tabela {
        font-size: 20px;
        width: 700px;
        margin: 0 auto;
    }
    div.interacao {
        width: 700px;
        margin: 0 auto;
        padding-top: 0.5em;
    }
    div.interacao input[type="button"] {
        width: 100%;
        margin: 0 auto;
        margin-top: 0.25em;
    }
    #palavras__procuradas {
        font-size: 14px;
        width: 50%;
        margin: 0 auto;
    }
}
